.container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    background: linear-gradient(to left, rgba(240, 151, 69, 0.6) 0% , rgb(243, 141, 238) 100%)
  }
.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
img {
    border-radius:20px;
    padding: 5px;
    background-color: rgba(210, 243, 238, 0.178);
    transition: all 1s;
}
img:hover{
	transform: scale(1.1);
}
